.THIS {
  position: relative;
}

.THIS .overview-button {
  background-color: var(--orange-medium);
  color: #ffffff;
}

.THIS.open .overview-button {
  height: 48px;
  border-bottom: 8px solid var(--orange-medium);
  margin-bottom: -8px;
}

.THIS.error .overview-button {
  background-color: var(--red);
  border-color: var(--red);
}

.THIS.warning .overview-button > span,
.THIS.error .overview-button > span {
  margin-right: 8px;
}

.THIS.warning .overview-button > span::after,
.THIS.error .overview-button > span::after {
  content: "!";
  margin-left: 8px;
  animation-name: warning-flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.THIS .overview-button > img {
  height: 6px;
}

.THIS.open .overview-button > img {
  transform: rotate(0.5turn);
}

.THIS .overview-container {
  display: none;
}

.THIS.open .overview-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  position: absolute;
  right: 0;
  top: calc(100% + 7px);
  width: 740px;
  border: 1px solid var(--orange-medium);
  border-radius: 4px 0px 4px 4px;
  background-color: #ffffff;
}

.THIS .overview-header {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  background-color: var(--orange-medium);
  color: #ffffff;
}

.THIS .overview-header span {
  flex: 1;
  padding-left: 10px;
  font-family: var(--dagny-display);
}

.THIS .overview-header .close {
  background-color: transparent;
  height: 32px;
  min-width: 0;
}

.THIS .overview-header .close > img {
  height: 14px;
}

.THIS .overview-main-area-left {
  padding: 10px 0 10px 10px;
}

.THIS .overview-main-area-right {
  padding: 10px 10px 10px 0;
}

.THIS .product-overview {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.THIS .sum {
  justify-self: flex-end;
  font-family: var(--dagny-display);
}

.THIS .subtotal {
  font-family: var(--dagny-display);
  color: var(--orange-medium);
}

.THIS .overview-main-area-left > *:not(:last-child) {
  margin-bottom: 4px;
}

.THIS .overview-main-area-right > *:not(:last-child) {
  margin-bottom: 16px;
}
