.THIS {
  display: flex;
  align-items: flex-end;
}

.THIS div.slds-form-element {
  flex: 1;
}

.THIS lightning-helptext {
  margin-left: 6px;
  margin-bottom: 6px;
}
.THIS lightning-helptext button.slds-button {
  height: auto;
  min-width: auto;
  border: 0;
  color: var(--orange-medium);
}
